<div class="pcb-service">
    <div class="product_detail">
        <div class="service-production">
            <h1>QUICK PCB SERVICE</h1>
            <div class="service-text"></div>
        </div>
        <div class="row">
            <div class="select-param col-md-9 col-lg-9">
                <form class="pcb-param"> 
                    <ul class="pcb-param-list">
                        <li class="clearfloat">
                            <label class="left">File Upload:</label>
                        <div class="left">
                            <br>Photo:
                            <input type="file" ngf-select ng-model="picFile" name="file" accept="image/*/doc/*/zip/*" ngf-max-size="2MB" required ngf-model-invalid="errorFile">
                            <i ng-show="myForm.file.$error.required">*required</i><br>
                            <i ng-show="myForm.file.$error.maxSize">File too large 
                              {{errorFile.size / 1000000|number:1}}MB: max 2M</i>
                            <img ng-show="myForm.file.$valid" ngf-thumbnail="picFile" class="thumb"> <button ng-click="picFile = null" ng-show="picFile">Remove</button>
                            <br>
                            <button ng-disabled="myForm.$valid" ng-click="uploadPic(picFile)">start upload</button>
                            <span class="progress" ng-show="picFile.progress >= 0">
                            <div style="width:{{picFile.progress}}%" 
                                ng-bind="picFile.progress + '%'"></div>
                            </span>
                            <span ng-show="picFile.result">Upload Successful</span>
                            <span class="err" ng-show="errorMsg">{{errorMsg}}</span>
                        </div>
                        </li>
                        <li>
                            <label>Layer:</label>
                            <input type="radio" name="layer"/>1Layers
                            <input type="radio" name="layer"/>2Layers
                            <input type="radio" name="layer"/>4Layers
                            <input type="radio" name="layer"/>6Layers
                        </li>
                        <li>
                            <label>PCB Dimension：</label>
                            <input type="text"/>
                            <span>x</span>
                            <input type="text"/>
                            <span>Unit: mm</span>
                        </li>
                        <li>
                            <label>PCB QTY.：</label>
                            <select>
                                <option>5</option>
                                <option>100</option>
                                <option>200</option>
                            </select>
                        </li>
                        <li>
                            <label>PCB Thickness：</label>
                            <input type="radio" name="thickness"/>0.6
                            <input type="radio" name="thickness"/>0.8
                            <input type="radio" name="thickness"/>1
                            <input type="radio" name="thickness"/>1.2
                            <input type="radio" name="thickness"/>1.6
                            <input type="radio" name="thickness"/>2
                            <span>Unit: mm</span>
                        </li>
                        <li>
                            <label>PCB Color：</label>
                            <input type="radio" name="color"/>Green
                            <input type="radio" name="color"/>Red
                            <input type="radio" name="color"/>Yellow
                            <input type="radio" name="color"/>Blue
                            <input type="radio" name="color"/>White
                            <input type="radio" name="color"/>Block
                        </li>
                        <li>
                            <label>Surface Finish：</label>
                            <input type="radio" name="surface"/>HASL
                            <input type="radio" name="surface"/>HASL(lead free)
                            <input type="radio" name="surface"/>ENIG
                            <input type="radio" name="surface"/>Hard Gold
                        </li>
                        <li>
                            <label>Copper Weight：</label>
                            <input type="radio" name="weight"/>1oz
                            <input type="radio" name="weight"/>2oz
                            <input type="radio" name="weight"/>3oz
                        </li>
                    </ul>
                </form>
            </div>
            <div class="count-price col-md-3 col-lg-3">
                <ul>
                    <li>
                        PCB order:<span></span>
                    </li>
                    <li>
                        Layer:<span>2 Layers</span>
                    </li>
                    <li>
                        PCB Dimension:<span>xx</span>
                    </li>
                    <li>
                        PCB Qty.:<span>5</span>
                    </li>
                    <li>
                        PCB Thickness:<span>1.6 mm</span>
                    </li>
                    <li>
                        PCB Color:<span>Green</span>
                    </li>
                    <li>
                        Surface Finish:<span>HASL</span>
                    </li>
                     <li>
                        Sub-Total:<span>$ 100.00</span>
                    </li>
                     <li>
                        Production time:<span>x-y days</span>
                    </li>
                </ul>
                <a href="">Add to Cart</a>
            </div>
        </div>
        <!-- <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-5 col-lg-5 image-container"> 
                <a href=""><img src="./images/pcb-500x500.jpg"></a>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-7 col-lg-7">
                <h1>QUICK PCB SERVICE</h1>
                <div class="review">
                    <span class="fa fa-star-o"></span>
                    <span class="fa fa-star-o"></span>
                    <span class="fa fa-star-o"></span>
                    <span class="fa fa-star-o"></span>
                    <span class="fa fa-star-o"></span>
                    <span class="">0 reviews</span>
                    /
                    <span class="">Write a review</span>
                </div>
                <p class="price"><span>$5.00</span></p>
                <p><b>Ex Tax:</b> <span>$5.00</span></p>
                <P><b>Availability:</b> <span>In Stock</span></P>
                <P><b>Product Code: </b><span>PCB</span></P>
                <div class="available-soptions">
                    <h3>AVAILABLE OPTIONS</h3>
                    <form class="clearfloat">
                        <div class="form-group clearfloat">
                            <label for="inputEmail3" class="col-sm-12 control-label">Board Quantity</label>
                            <div class="col-sm-12">
                                <select class="product_select">
                                    <option> --- Please Select --- </option>
                                    <option>17</option>
                                    <option>18</option>
                                    <option>19</option>
                                    <option>20</option>
                                </select>
                                <div class="btn-group" uib-dropdown keyboard-nav>
                                    <button id="simple-btn-keyboard-nav" type="button" class="btn" uib-dropdown-toggle>
                                        Dropdown with keyboard navigation <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="simple-btn-keyboard-nav">
                                        <li role="menuitem"><a href="#">Action</a></li>
                                        <li role="menuitem"><a href="#">Another action</a></li>
                                        <li role="menuitem"><a href="#">Something else here</a></li>
                                        <li class="divider"></li>
                                        <li role="menuitem"><a href="#">Separated link</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="form-group clearfloat">
                            <label for="inputEmail3" class="col-sm-12 control-label">PCB Layer</label>
                            <div class="col-sm-12">
                                <select class="product_select">
                                    <option> --- Please Select --- </option>
                                    <option>17</option>
                                    <option>18</option>
                                    <option>19</option>
                                    <option>20</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group clearfloat">
                            <label for="inputEmail3" class="col-sm-12 control-label">QTY:</label>
                            <div class="col-sm-12">
                              <input type="email" class="" id="inputEmail3" placeholder="Last Name">
                              <button class="add_cart">add to cart</button>
                            </div>
                        </div>
                    </form>
                    <p class="todo">
                        <a href="#"><i class="fa fa-heart"></i>Add to Wish List</a>
                    </p>
                    <p class="todo">
                        <a href="#"><i class="fa fa-refresh"></i>Compare this Product </a>
                    </p>
                </div>
            </div>
        </div> -->
    </div>
</div>