<div id="footer">
    <div class="footer_inner">
        <div class="fLinkBox">
            <div class="row">
                <div class="column col-xs-12 col-sm-6 col-md-3 col-lg-3">
                    <ul>
                       <li><h4>My Account</h4></li>
                       <li><a href="">My Account</a></li>
                       <li><a href="">Order History</a></li>
                       <li><a href="">With List</a></li>
                       <li><a href="">Newsletter</a></li>
                       <li><a href="">Specials</a></li>
                    </ul> 
                </div>
                <div class="column col-xs-12 col-sm-6 col-md-3 col-lg-3">
                    <ul>
                        <li><h4>Customer Service</h4></li>
                        <li><a href="">Contact Us</a></li>
                        <li><a href="">Returns</a></li>
                        <li><a href="">Site Mapt</a></li>
                        <li><a href="">Brands</a></li>
                        <li><a href="">Gift Certificates</a></li>
                    </ul> 
                </div>
                <div class="column col-xs-12 col-sm-6 col-md-3 col-lg-3">
                    <ul>
                        <li><h4>Customer Service</h4></li>
                        <li><a href="">Contact Us</a></li>
                        <li><a href="">Returns</a></li>
                        <li><a href="">Site Mapt</a></li>
                        <li><a href="">Brands</a></li>
                        <li><a href="">Gift Certificates</a></li>
                    </ul> 
                </div>
                <div class="column col-xs-12 col-sm-6 col-md-3 col-lg-3">
                    <ul>
                        <li><h4>Business Hours</h4></li>
                        <li><a href="">Mon - Fri: ---------------8am - 5pmt</a></li>
                        <li><a href="">Sat: ----------------------8am - 11am</a></li>
                        <li><a href="">Sun: ------------------------- Closed</a></li>
                        <li><a href="">We work all the holidays</a></li>
                    </ul> 
                </div>
            </div>
        </div>
        <div class="copyrightBox"> 
            <div class="clearfloat">
                <p class="left">Copyright 2017 CoMaaS.cc</p>
                <div class="right">
                    <img src="./images/payment.png" height="40" width="246" alt="">
                </div>
            </div>
        </div>
    </div>
</div>