<div class="modal" ng-show="modalShow">
    <div class="modal_content">
        <span class="close_mark" ng-click="clickShow()">×</span>
        <div class="modal_body">
            <div class="product_detail">
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-5 col-lg-5 image-container"> 
                        <a href=""><img src="./images/pcb-500x500.jpg"></a>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-7 col-lg-7">
                        <h1>QUICK PCB SERVICE</h1>
                        <div class="review">
                            <span class="fa fa-star-o"></span>
                            <span class="fa fa-star-o"></span>
                            <span class="fa fa-star-o"></span>
                            <span class="fa fa-star-o"></span>
                            <span class="fa fa-star-o"></span>
                            <span class="">0 reviews</span>
                            /
                            <span class="">Write a review</span>
                        </div>
                        <p class="price"><span>$5.00</span></p>
                        <p><b>Ex Tax:</b> <span>$5.00</span></p>
                        <P><b>Availability:</b> <span>In Stock</span></P>
                        <P><b>Product Code: </b><span>PCB</span></P>
                        <div class="available-soptions">
                            <h3>AVAILABLE OPTIONS</h3>
                            <form class="clearfloat">
                                <div class="form-group clearfloat">
                                    <label for="inputEmail3" class="col-sm-12 control-label">Board Quantity</label>
                                    <div class="col-sm-12">
                                        <select class="product_select">
                                            <option> --- Please Select --- </option>
                                            <option>17</option>
                                            <option>18</option>
                                            <option>19</option>
                                            <option>20</option>
                                        </select>
                                        <!-- <div class="btn-group" uib-dropdown keyboard-nav>
                                            <button id="simple-btn-keyboard-nav" type="button" class="btn" uib-dropdown-toggle>
                                                Dropdown with keyboard navigation <span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="simple-btn-keyboard-nav">
                                                <li role="menuitem"><a href="#">Action</a></li>
                                                <li role="menuitem"><a href="#">Another action</a></li>
                                                <li role="menuitem"><a href="#">Something else here</a></li>
                                                <li class="divider"></li>
                                                <li role="menuitem"><a href="#">Separated link</a></li>
                                            </ul>
                                        </div> -->
                                    </div>
                                </div>
                                <div class="form-group clearfloat">
                                    <label for="inputEmail3" class="col-sm-12 control-label">PCB Layer</label>
                                    <div class="col-sm-12">
                                        <select class="product_select">
                                            <option> --- Please Select --- </option>
                                            <option>17</option>
                                            <option>18</option>
                                            <option>19</option>
                                            <option>20</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group clearfloat">
                                    <label for="inputEmail3" class="col-sm-12 control-label">QTY:</label>
                                    <div class="col-sm-12">
                                      <input type="email" class="" id="inputEmail3" placeholder="Last Name">
                                      <button class="add_cart">add to cart</button>
                                    </div>
                                </div>
                            </form>
                            <p class="todo">
                                <a href="#"><i class="fa fa-heart"></i>Add to Wish List</a>
                            </p>
                            <p class="todo">
                                <a href="#"><i class="fa fa-refresh"></i>Compare this Product </a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

