<div class="myAccount">
    <div class="row clearfloat margin-top-20">
        <div class="col-sm-2 .col-md-2 .col-lg-2">
            <div class="submanu-list">
                <ul>
                    <li><a ui-sref="myAccount.cart">Cart</a></li>
                    <li><a ui-sref="myAccount.orders">Orders</a></li>
                    <li><a ui-sref="myAccount.myProjects">projects</a></li>
                    <li><a ui-sref="myAccount.messages">messages</a></li>
                </ul>
            </div>
        </div>
        <div class="col-sm-10 .col-md-10 .col-lg-10">
            <div ui-view=""></div>
        </div>
    </div>
</div>