<div class="projects">
    <div class="row clearfloat">
        <div class="col-sm-2 .col-md-2 .col-lg-2">
            <div class="submanu-list">
                <h3>Category</h3>
                <ul>
                    <li><a href="">All</a></li>
                    <li><a href="">loT</a></li>
                    <li><a href="">Education</a></li>
                    <li><a href="">Industry</a></li>
                    <li><a href="">Entertainments</a></li>
                </ul>
            </div>
        </div>
        <div class="col-sm-10 .col-md-10 .col-lg-10">
            <div ui-view=""></div>
           <!--  <div class="projects-list">
               <div class="row margin-btm-30 margin-top-26">
                   <div class="col-sm-3">
                       <div class="projects-box">
                           <a ui-sref="projects.projcetDetail">
                               <img src="./images/pcb-500x500.jpg">
                           </a>
                           <div class="project_name">
                               <h3>project name</h3>
                           </div>
                       </div>
                   </div>
                   <div class="col-sm-3">
                       <div class="projects-box">
                           <a href="">
                               <img src="./images/pcb-500x500.jpg">
                           </a>
                           <div class="project_name">
                               <h3>project name</h3>
                           </div>
                       </div>
                   </div>
                   <div class="col-sm-3">
                       <div class="projects-box">
                           <a href="">
                               <img src="./images/pcb-500x500.jpg">
                           </a>
                           <div class="project_name">
                               <h3>project name</h3>
                           </div>
                       </div>
                   </div>
                   <div class="col-sm-3">
                       <div class="projects-box">
                           <a href="">
                               <img src="./images/pcb-500x500.jpg">
                           </a>
                           <div class="project_name">
                               <h3>project name</h3>
                           </div>
                       </div>
                   </div>
               </div>
               <div class="row margin-btm-30">
                   <div class="col-sm-3">
                       <div class="projects-box">
                           <a href="">
                               <img src="./images/pcb-500x500.jpg">
                           </a>
                           <div class="project_name">
                               <h3>project name</h3>
                           </div>
                       </div>
                   </div>
                   <div class="col-sm-3">
                       <div class="projects-box">
                           <a href="">
                               <img src="./images/pcb-500x500.jpg">
                           </a>
                           <div class="project_name">
                               <h3>project name</h3>
                           </div>
                       </div>
                   </div>
                   <div class="col-sm-3">
                       <div class="projects-box">
                           <a href="">
                               <img src="./images/pcb-500x500.jpg">
                           </a>
                           <div class="project_name">
                               <h3>project name</h3>
                           </div>
                       </div>
                   </div>
                   <div class="col-sm-3">
                       <div class="projects-box">
                           <a href="">
                               <img src="./images/pcb-500x500.jpg">
                           </a>
                           <div class="project_name">
                               <h3>project name</h3>
                           </div>
                       </div>
                   </div>
               </div>
           </div>
            -->
        </div>
    </div>
</div>